<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/stylesheets/grid.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>

  <div id="sub">

    <header>
      <h1><%= title %></h1>
    </header>

    <!-- One -->
    <section id="one">
      <header class="major">
        <h2>a native of the Jersey Shore, Jeffrey grew up in an artistically and musically prolific area</h2>
      </header>
      <p>I've spent many years engaged in many different creative endeavors.
        For the better part of 20 years, I performed on stage around the country as a guitarist,
        created cartoons, music videos, oil paintings and architectural photography.</p>
    </section>

    <section>
      <h4>Endeavors</h4>
      <div class="row">
        <div class="6u 12u$(xsmall)">
          <!-- <h5>Unordered</h5>
          <ul>
            <li>Dolor pulvinar etiam magna etiam.</li>
            <li>Sagittis adipiscing lorem eleifend.</li>
            <li>Felis enim feugiat dolore viverra.</li>
          </ul> -->
          <h5>Photography</h5>
          <ul class="alt">
            <!-- <li>Dolor pulvinar etiam magna etiam.</li>
            <li>Sagittis adipiscing lorem eleifend.</li>
            <li>Felis enim feugiat dolore viverra.</li> -->
          </ul>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <!-- <h5>Ordered</h5>
          <ol>
            <li>Dolor pulvinar etiam magna etiam.</li>
            <li>Etiam vel felis at lorem sed viverra.</li>
            <li>Felis enim feugiat dolore viverra.</li>
            <li>Dolor pulvinar etiam magna etiam.</li>
            <li>Etiam vel felis at lorem sed viverra.</li>
            <li>Felis enim feugiat dolore viverra.</li>
          </ol> -->
          <h5>Social</h5>
          <ul class="icons">
            <li><a href="https://twitter.com/jeffreybrayne" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li> -->
          </ul>
        </div>
      </div>
    </section>


  </div>
  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="https://twitter.com/jeffreybrayne" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/jeffreybrayne" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="mailto:j@jeffreybrayne.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2017 Jeffrey Brayne</li>
        </ul>
      </div>
    </footer>

  <!-- Scripts -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/jquery.poptrox.min.js"></script>
    <script src="javascripts/skel.min.js"></script>
    <script src="javascripts/util.js"></script>
    <!--[if lte IE 8]><script src="javascripts/ie/respond.min.js"></script><![endif]-->
    <script src="javascripts/main.js"></script>

  </body>
  </html>
